* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: dvh;
    background-image: url("hummingbird_hibiscus_moment-full.jpg");
    justify-content: center;
    align-items: center;

}

.container {
    width: 1000px;
    height: dvh;
    border-radius: 30px;
    background-color: rgb(58, 175, 58);
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 10px;

}

h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    height: 100px;
    padding-top: 50px;

}

P {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 20px;
    border-radius: 30px;
    padding: 20px;
    span{
        color: rgb(97, 11, 155);
    }

}

.main {
    background-color: rgb(199, 225, 226);
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 20px;
    padding-top: 20px;
    gap: 20px;

    h2 {
        font-size: 30px;
        color: rgb(9, 109, 39);
        text-align: center;
    }
}

.sub {
    display: flex;
    flex-direction: row;

    img {
        width: 150px;
        height: 120px;
        background-color: rgb(209, 146, 146);
        border-radius: 20px;

    }

    p {
        font-size: 20px;
        color: rgb(97, 11, 155);
        font-family: Arial, Helvetica, sans-serif;

    }
}

.foot {
    display: flex;
    flex-direction: row;
    
}
